@inject NavigationManager NavManager

<MudContainer Style="padding: 32px; border-radius: 4px; margin-top: 16px; width:100%; background-color: #27272f">
    <h1 style="color: white;">Oh no! The page you are looking for does not exist.</h1>

    <p style="margin-top: 24px;">
        The page you are looking for may have been deleted or moved. <a href="/">Return to dashboard</a>.
    </p>
</MudContainer>
