@page
@model Mediaful.Pages.ErrorModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Error</title>
    <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/identity.css" rel="stylesheet" />
</head>

<body style="background: #32333d !important; color: white;" class="main">
    <header style="background: #27272f !important;">
        <nav style="background: #27272f !important;" class="navbar navbar-expand-sm box-shadow mb-3">
            <a class="navbar-brand logo" href="~/"><img height="50" src="/images/mediaful_logo_main.png" alt="Mediaful Logo" /></a>
        </nav>
    </header>
    <div style="background: #32333d !important; color: white;" class="main">
        <div class="content px-4">
            <h1 class="text-danger">Error.</h1>
            <h2 class="text-danger">An error occurred while processing your request.</h2>
        </div>
    </div>
</body>

</html>
